# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.ipynb_checkpoints/

# Dataset (exclude large dataset folder)
Animals/
organized/

# Optionally exclude large model file
# animal_classifier.h5
*.h5

# Other
*.DS_Store